.techicalSupportSpecialist {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.heading,
.typeParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.typeParent {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--body-small-400-size);
  color: var(--gray-500);
}
.heading {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.googleInc {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.mappinIcon {
  position: relative;
  width: 18px;
  height: 18px;
}
.ukraineKyiv {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.info,
.loaction {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.loaction {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  font-size: var(--body-small-400-size);
  color: var(--gray-500);
}
.info {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.bookmarksimpleIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.company {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--button-button-size);
}
.job {
  flex: 1;
  border-radius: var(--br-5xs);
  background: linear-gradient(90deg, #fff6e6, #fff), #fff;
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid var(--gray-100);
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: var(--gap-xl);
}
.frameParent,
.job,
.job2,
.jobParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.job2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--gray-00);
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid var(--gray-100);
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: var(--gap-xl);
}
.frameParent,
.jobParent {
  gap: var(--gap-5xl);
}
.jobParent {
  width: 1323px;
  flex-direction: row;
}
.frameParent {
  position: absolute;
  top: 358px;
  left: 299px;
  flex-direction: column;
  cursor: pointer;
}
.testLibrary {
  position: relative;
  line-height: 20px;
}
.navLink,
.navLink2 {
  background-color: var(--gray-50);
  align-items: center;
  padding: var(--padding-sm) 0;
}
.navLink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.navLink2 {
  box-shadow: 0-2px 0#0a65cc inset;
  color: var(--primary-500);
}
.navLink2,
.navLink5,
.navLinkParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.navLink5 {
  background-color: var(--gray-50);
  align-items: center;
  padding: var(--padding-sm) 0;
}
.navLinkParent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.div {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.phonecallParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image1Icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 16px;
  object-fit: cover;
}
.fichevronDownIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.englishParent {
  position: absolute;
  top: 0;
  left: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.navLink6 {
  position: relative;
  width: 130px;
  height: 20px;
  cursor: pointer;
  color: var(--gray-600);
}
.frameContainer,
.frameGroup {
  width: 327px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--gray-900);
}
.frameGroup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-50);
  width: 1921px;
  padding: 0 var(--padding-281xl);
  box-sizing: border-box;
  gap: var(--gap-221xl);
  font-size: var(--body-small-400-size);
  color: var(--gray-600);
}
.jobList2 {
  position: relative;
  background-color: var(--gray-00);
  width: 100%;
  height: 1954px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
