.techicalSupportSpecialist {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.salary20000 {
  position: relative;
  line-height: 20px;
}
.heading,
.typeParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.typeParent {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--body-small-400-size);
  color: var(--gray-500);
}
.heading {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.googleInc {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.mappinIcon {
  position: relative;
  width: 18px;
  height: 18px;
}
.dhakaBangladesh {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.info,
.loaction {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.loaction {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  font-size: var(--body-small-400-size);
  color: var(--gray-500);
}
.info {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.bookmarksimpleIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.company {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--button-button-size);
}
.job {
  flex: 1;
  border-radius: var(--br-5xs);
  background: linear-gradient(90deg, #fff6e6, #fff), #fff;
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid var(--gray-100);
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: var(--gap-xl);
}
.job,
.job2,
.jobParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.job2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--gray-00);
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid var(--gray-100);
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: var(--gap-xl);
}
.jobParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
