.image1Icon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 16px;
  object-fit: cover;
}
.english {
  position: relative;
  line-height: 20px;
}
.englishWrapper {
  position: absolute;
  top: 0;
  left: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.en {
  position: relative;
  width: 104px;
  height: 20px;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--body-small-400-size);
  color: var(--gray-600);
  font-family: var(--button-button);
}
