.featuredJob1,
.viewAll {
  position: relative;
  line-height: 48px;
  font-weight: 500;
}
.viewAll {
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
}
.fiarrowRightIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
.featuredJob,
.frameParent,
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  border-radius: var(--br-10xs);
  border: 1px solid var(--primary-50);
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--button-button-size);
  color: var(--color-palevioletred);
}
.featuredJob,
.frameParent,
.heading {
  align-self: stretch;
  justify-content: space-between;
}
.featuredJob,
.frameParent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
}
.featuredJob {
  background-color: var(--gray-00);
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-281xl);
  gap: var(--gap-31xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--gray-scale-900);
  font-family: var(--button-button);
}
